<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.CouponCaseMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.CouponCasePO">
            <id property="id" column="id" />
            <result property="couponCode" column="coupon_code" />
            <result property="caseCode" column="case_code" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,coupon_code,case_code,create_time,update_time,delete_time
    </sql>
</mapper>
