<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.DingtalkInstanceMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.DingtalkInstancePO">
            <id property="id" column="id" />
            <result property="instanceId" column="instance_id" />
            <result property="module" column="module" />
            <result property="key" column="key" />
            <result property="payload" column="payload" />
            <result property="createUid" column="create_uid" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,instance_id,module,key,payload,create_uid,
        create_time,update_time,delete_time
    </sql>
</mapper>
