<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.DmsProductMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.DmsProductPO">
            <id property="id" column="id" />
            <result property="accountCode" column="account_code" />
            <result property="groupCode" column="group_code" />
            <result property="price" column="price" />
            <result property="pattern" column="pattern" />
            <result property="region" column="region" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,account_code,group_code,price,pattern,region,
        create_time,update_time
    </sql>
</mapper>
