<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.DoctorPdsMigrateSitMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.DoctorPdsMigrateSitPO">
            <id property="id" column="id" />
            <result property="crmId" column="crm_id" />
            <result property="crmCode" column="crm_code" />
            <result property="countryCode" column="country_code" />
            <result property="pdsCode" column="pds_code" />
            <result property="lastNameDesensitized" column="last_name_desensitized" />
            <result property="lastNameHash" column="last_name_hash" />
            <result property="givenNameDesensitized" column="given_name_desensitized" />
            <result property="givenNameHash" column="given_name_hash" />
            <result property="surnameDesensitized" column="surname_desensitized" />
            <result property="surnameHash" column="surname_hash" />
            <result property="contactNumberCDesensitized" column="contact_number_c_desensitized" />
            <result property="contactNumberCHash" column="contact_number_c_hash" />
            <result property="genderC" column="gender_c" />
            <result property="genderCDesensitized" column="gender_c_desensitized" />
            <result property="genderCHash" column="gender_c_hash" />
            <result property="phoneMobileDesensitized" column="phone_mobile_desensitized" />
            <result property="phoneMobileHash" column="phone_mobile_hash" />
            <result property="phoneHomeDesensitized" column="phone_home_desensitized" />
            <result property="phoneHomeHash" column="phone_home_hash" />
            <result property="salutationDesensitized" column="salutation_desensitized" />
            <result property="salutationHash" column="salutation_hash" />
            <result property="birthdateDesensitized" column="birthdate_desensitized" />
            <result property="birthdateHash" column="birthdate_hash" />
            <result property="wechatCDesensitized" column="wechat_c_desensitized" />
            <result property="wechatCHash" column="wechat_c_hash" />
            <result property="phoneWorkDesensitized" column="phone_work_desensitized" />
            <result property="phoneWorkHash" column="phone_work_hash" />
            <result property="emailCDesensitized" column="email_c_desensitized" />
            <result property="emailCHash" column="email_c_hash" />
            <result property="certificateNumberCDesensitized" column="certificate_number_c_desensitized" />
            <result property="certificateNumberCHash" column="certificate_number_c_hash" />
            <result property="accountCDesensitized" column="account_c_desensitized" />
            <result property="accountCHash" column="account_c_hash" />
            <result property="accountNameCDesensitized" column="account_name_c_desensitized" />
            <result property="accountNameCHash" column="account_name_c_hash" />
            <result property="accountBankCDesensitized" column="account_bank_c_desensitized" />
            <result property="accountBankCHash" column="account_bank_c_hash" />
            <result property="marriageCDesensitized" column="marriage_c_desensitized" />
            <result property="marriageCHash" column="marriage_c_hash" />
            <result property="religiousCDesensitized" column="religious_c_desensitized" />
            <result property="religiousCHash" column="religious_c_hash" />
            <result property="postalcodeCDesensitized" column="postalcode_c_desensitized" />
            <result property="postalcodeCHash" column="postalcode_c_hash" />
            <result property="addressCDesensitized" column="address_c_desensitized" />
            <result property="addressCHash" column="address_c_hash" />
            <result property="dateCreated" column="date_created" />
            <result property="dateModified" column="date_modified" />
    </resultMap>

    <sql id="Base_Column_List">
        id,crm_id,crm_code,country_code,pds_code,last_name_desensitized,
        last_name_hash,given_name_desensitized,given_name_hash,surname_desensitized,surname_hash,
        contact_number_c_desensitized,contact_number_c_hash,gender_c,gender_c_desensitized,gender_c_hash,
        phone_mobile_desensitized,phone_mobile_hash,phone_home_desensitized,phone_home_hash,salutation_desensitized,
        salutation_hash,birthdate_desensitized,birthdate_hash,wechat_c_desensitized,wechat_c_hash,
        phone_work_desensitized,phone_work_hash,email_c_desensitized,email_c_hash,certificate_number_c_desensitized,
        certificate_number_c_hash,account_c_desensitized,account_c_hash,account_name_c_desensitized,account_name_c_hash,
        account_bank_c_desensitized,account_bank_c_hash,marriage_c_desensitized,marriage_c_hash,religious_c_desensitized,
        religious_c_hash,postalcode_c_desensitized,postalcode_c_hash,address_c_desensitized,address_c_hash,
        date_created,date_modified
    </sql>
</mapper>
