<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.HolidaysMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.HolidaysPO">
            <id property="id" column="id" />
            <result property="years" column="years" />
            <result property="holiday" column="holiday" />
            <result property="disabled" column="disabled" />
    </resultMap>

    <sql id="Base_Column_List">
        id,years,holiday,disabled
    </sql>
</mapper>
