<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.MigrationsMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.MigrationsPO">
            <id property="id" column="id" />
            <result property="migration" column="migration" />
            <result property="batch" column="batch" />
    </resultMap>

    <sql id="Base_Column_List">
        id,migration,batch
    </sql>
</mapper>
