<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.OrdersPO">
            <id property="id" column="id" />
            <result property="type" column="type" />
            <result property="designCode" column="design_code" />
            <result property="orderCode" column="order_code" />
            <result property="caseCode" column="case_code" />
            <result property="bizCode" column="biz_code" />
            <result property="region" column="region" />
            <result property="parentOrderCode" column="parent_order_code" />
            <result property="reversalOrderCode" column="reversal_order_code" />
            <result property="factory" column="factory" />
            <result property="quantity" column="quantity" />
            <result property="productCode" column="product_code" />
            <result property="modifyUid" column="modify_uid" />
            <result property="assignUid" column="assign_uid" />
            <result property="createUid" column="create_uid" />
            <result property="price" column="price" />
            <result property="productPrice" column="product_price" />
            <result property="currency" column="currency" />
            <result property="status" column="status" />
            <result property="timeConfirm" column="time_confirm" />
            <result property="amountInvoice" column="amount_invoice" />
            <result property="amountVerification" column="amount_verification" />
            <result property="timeVerified" column="time_verified" />
            <result property="incomeStatus" column="income_status" />
            <result property="checkingStatus" column="checking_status" />
            <result property="invoiceStatus" column="invoice_status" />
            <result property="verificationStatus" column="verification_status" />
            <result property="finishStatus" column="finish_status" />
            <result property="taxRate" column="tax_rate" />
            <result property="patientCode" column="patient_code" />
            <result property="doctorCode" column="doctor_code" />
            <result property="baCode" column="ba_code" />
            <result property="groupCode" column="group_code" />
            <result property="accountCode" column="account_code" />
            <result property="contractCode" column="contract_code" />
            <result property="invoiceTargetType" column="invoice_target_type" />
            <result property="settlementTargetType" column="settlement_target_type" />
            <result property="processType" column="process_type" />
            <result property="timeProcess" column="time_process" />
            <result property="labelBit" column="label_bit" />
            <result property="note" column="note" />
            <result property="version" column="version" />
            <result property="settlementCreated" column="settlement_created" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
            <result property="timeFinish" column="time_finish" />
    </resultMap>

    <sql id="Base_Column_List">
        id,type,design_code,order_code,case_code,biz_code,
        region,parent_order_code,reversal_order_code,factory,quantity,
        product_code,modify_uid,assign_uid,create_uid,price,
        product_price,currency,status,time_confirm,amount_invoice,
        amount_verification,time_verified,income_status,checking_status,invoice_status,
        verification_status,finish_status,tax_rate,patient_code,doctor_code,
        ba_code,group_code,account_code,contract_code,invoice_target_type,
        settlement_target_type,process_type,time_process,label_bit,note,
        version,settlement_created,create_time,update_time,delete_time,
        time_finish
    </sql>
</mapper>
