<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.ProductsMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.ProductsPO">
            <id property="id" column="id" />
            <result property="type" column="type" />
            <result property="name" column="name" />
            <result property="nameEn" column="name_en" />
            <result property="code" column="code" />
            <result property="aliasCode" column="alias_code" />
            <result property="level" column="level" />
            <result property="brand" column="brand" />
            <result property="orderBit" column="order_bit" />
            <result property="available" column="available" />
            <result property="timeAction" column="time_action" />
            <result property="price" column="price" />
            <result property="taxRate" column="tax_rate" />
            <result property="region" column="region" />
            <result property="taxType" column="tax_type" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,type,name,name_en,code,alias_code,
        level,brand,order_bit,available,time_action,
        price,tax_rate,region,tax_type,version,
        create_time,update_time,delete_time
    </sql>
</mapper>
