<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.SaActivityDetailMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.SaActivityDetailPO">
            <id property="id" column="id" />
            <result property="activityCode" column="activity_code" />
            <result property="fieldName" column="field_name" />
            <result property="fieldValue" column="field_value" />
            <result property="operator" column="operator" />
            <result property="deleted" column="deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_code,field_name,field_value,operator,deleted,
        create_time,update_time
    </sql>
</mapper>
