<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.SsaTargetDetailsMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.SsaTargetDetailsPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="targetCode" column="target_code" />
            <result property="accountCode" column="account_code" />
            <result property="directCode" column="direct_code" />
            <result property="groupCode" column="group_code" />
            <result property="doctorCode" column="doctor_code" />
            <result property="baCode" column="ba_code" />
            <result property="amountTotal" column="amount_total" />
            <result property="amountUsed" column="amount_used" />
            <result property="labelBit" column="label_bit" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,target_code,account_code,direct_code,group_code,
        doctor_code,ba_code,amount_total,amount_used,label_bit,
        version,create_time,update_time,delete_time
    </sql>
</mapper>
