<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.StandardDnItemsMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.StandardDnItemsPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="productionDetailCode" column="production_detail_code" />
            <result property="dnCode" column="dn_code" />
            <result property="productCode" column="product_code" />
            <result property="quantity" column="quantity" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,production_detail_code,dn_code,product_code,quantity,
        version,create_time,update_time,delete_time
    </sql>
</mapper>
