<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.TaxInfoMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.TaxInfoPO">
            <id property="id" column="id" />
            <result property="targetType" column="target_type" />
            <result property="targetCode" column="target_code" />
            <result property="taxType" column="tax_type" />
            <result property="region" column="region" />
            <result property="taxRate" column="tax_rate" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,target_type,target_code,tax_type,region,tax_rate,
        create_time,update_time,delete_time
    </sql>
</mapper>
