<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.boss.infrastructure.persistence.mapper.TestsMapper">

    <resultMap id="BaseResultMap" type="com.xs.boss.infrastructure.persistence.po.TestsPO">
            <id property="id" column="id" />
            <result property="key" column="key" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,key,create_time
    </sql>
</mapper>
