<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.CountryMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.CountryPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="currency" column="currency" />
            <result property="isCountry" column="is_country" />
            <result property="disabled" column="disabled" />
            <result property="sort" column="sort" />
            <result property="zhCn" column="zh-CN" />
            <result property="enUs" column="en-US" />
            <result property="alpha2" column="alpha2" />
            <result property="alpha3" column="alpha3" />
            <result property="labelBit" column="label_bit" />
            <result property="region" column="region" />
            <result property="modifyUid" column="modify_uid" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,currency,is_country,disabled,sort,
        zh-CN,en-US,alpha2,alpha3,label_bit,
        region,modify_uid,update_time
    </sql>
</mapper>
