<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.CurrencyMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.CurrencyPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="symbol" column="symbol" />
            <result property="zhCn" column="zh-CN" />
            <result property="zhHk" column="zh-HK" />
            <result property="enUs" column="en-US" />
            <result property="sort" column="sort" />
            <result property="disabled" column="disabled" />
            <result property="deleted" column="deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,symbol,zh-CN,zh-HK,en-US,
        sort,disabled,deleted,create_time,update_time
    </sql>
</mapper>
