<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.InternationalTaxRateMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.InternationalTaxRatePO">
            <id property="id" column="id" />
            <result property="country" column="country" />
            <result property="province" column="province" />
            <result property="city" column="city" />
            <result property="address" column="address" />
            <result property="postalCode" column="postal_code" />
            <result property="taxRate" column="tax_rate" />
            <result property="json" column="json" />
            <result property="createTime" column="create_time" />
            <result property="timeLive" column="time_live" />
            <result property="labelBit" column="label_bit" />
            <result property="pdsCode" column="pds_code" />
            <result property="pdsVersion" column="pds_version" />
            <result property="taxjarCity" column="taxjar_city" />
            <result property="taxjarCityRate" column="taxjar_city_rate" />
            <result property="taxjarCombinedDistrictRate" column="taxjar_combined_district_rate" />
            <result property="taxjarCombinedRate" column="taxjar_combined_rate" />
            <result property="taxjarCountry" column="taxjar_country" />
            <result property="taxjarCountryRate" column="taxjar_country_rate" />
            <result property="taxjarCounty" column="taxjar_county" />
            <result property="taxjarCountyRate" column="taxjar_county_rate" />
            <result property="taxjarState" column="taxjar_state" />
            <result property="taxjarStateRate" column="taxjar_state_rate" />
            <result property="taxjarZip" column="taxjar_zip" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,country,province,city,address,postal_code,
        tax_rate,json,create_time,time_live,label_bit,
        pds_code,pds_version,taxjar_city,taxjar_city_rate,taxjar_combined_district_rate,
        taxjar_combined_rate,taxjar_country,taxjar_country_rate,taxjar_county,taxjar_county_rate,
        taxjar_state,taxjar_state_rate,taxjar_zip,update_time,delete_time
    </sql>
</mapper>
