<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.OrderAddress20221008Mapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.OrderAddress20221008PO">
            <id property="id" column="id" />
            <result property="pdsCodeContact" column="pds_code_contact" />
            <result property="pdsCodeAddress" column="pds_code_address" />
            <result property="pdsVersionContact" column="pds_version_contact" />
            <result property="pdsVersionAddress" column="pds_version_address" />
            <result property="orderCode" column="order_code" />
            <result property="country" column="country" />
            <result property="province" column="province" />
            <result property="city" column="city" />
            <result property="district" column="district" />
            <result property="name" column="name" />
            <result property="mobile" column="mobile" />
            <result property="postalCode" column="postal_code" />
            <result property="address" column="address" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
            <result property="place" column="place" />
    </resultMap>

    <sql id="Base_Column_List">
        id,pds_code_contact,pds_code_address,pds_version_contact,pds_version_address,order_code,
        country,province,city,district,name,
        mobile,postal_code,address,version,create_time,
        update_time,delete_time,place
    </sql>
</mapper>
