<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.OrderExtendsMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.OrderExtendsPO">
            <id property="id" column="id" />
            <result property="extendCode" column="extend_code" />
            <result property="orderCode" column="order_code" />
            <result property="itemCode" column="item_code" />
            <result property="labelBit" column="label_bit" />
            <result property="productCode" column="product_code" />
            <result property="quantity" column="quantity" />
            <result property="unit" column="unit" />
            <result property="totalPrice" column="total_price" />
            <result property="taxRate" column="tax_rate" />
            <result property="taxAmount" column="tax_amount" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
            <result property="sourceExtendCode" column="source_extend_code" />
            <result property="index" column="index" />
            <result property="contractTaxRate" column="contract_tax_rate" />
    </resultMap>

    <sql id="Base_Column_List">
        id,extend_code,order_code,item_code,label_bit,product_code,
        quantity,unit,total_price,tax_rate,tax_amount,
        version,create_time,update_time,delete_time,source_extend_code,
        index,contract_tax_rate
    </sql>
</mapper>
