<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.PatientPdsMigrateSitMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.PatientPdsMigrateSitPO">
            <id property="id" column="id" />
            <result property="crmId" column="crm_id" />
            <result property="crmCode" column="crm_code" />
            <result property="countryCode" column="country_code" />
            <result property="pdsCode" column="pds_code" />
            <result property="nameDesensitized" column="name_desensitized" />
            <result property="nameHash" column="name_hash" />
            <result property="genderC" column="gender_c" />
            <result property="genderCDesensitized" column="gender_c_desensitized" />
            <result property="genderCHash" column="gender_c_hash" />
            <result property="birthdayCDesensitized" column="birthday_c_desensitized" />
            <result property="birthdayCHash" column="birthday_c_hash" />
            <result property="phoneMobileCDesensitized" column="phone_mobile_c_desensitized" />
            <result property="phoneMobileCHash" column="phone_mobile_c_hash" />
            <result property="dateCreated" column="date_created" />
            <result property="dateModified" column="date_modified" />
    </resultMap>

    <sql id="Base_Column_List">
        id,crm_id,crm_code,country_code,pds_code,name_desensitized,
        name_hash,gender_c,gender_c_desensitized,gender_c_hash,birthday_c_desensitized,
        birthday_c_hash,phone_mobile_c_desensitized,phone_mobile_c_hash,date_created,date_modified
    </sql>
</mapper>
