<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.PatientsMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.PatientsPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="name" column="name" />
            <result property="nameHash" column="name_hash" />
            <result property="pdsCode" column="pds_code" />
            <result property="timeAction" column="time_action" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,name_hash,pds_code,time_action,
        version,create_time,update_time,delete_time
    </sql>
</mapper>
