<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.SaActivityMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.SaActivityPO">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="code" column="code" />
            <result property="activityType" column="activity_type" />
            <result property="activityTypeDetail" column="activity_type_detail" />
            <result property="discountType" column="discount_type" />
            <result property="activityNature" column="activity_nature" />
            <result property="activitySort" column="activity_sort" />
            <result property="caseJoinSort" column="case_join_sort" />
            <result property="isCircle" column="is_circle" />
            <result property="createdBy" column="created_by" />
            <result property="status" column="status" />
            <result property="deleted" column="deleted" />
            <result property="actions" column="actions" />
            <result property="actionsGift" column="actions_gift" />
            <result property="description" column="description" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,activity_type,activity_type_detail,discount_type,
        activity_nature,activity_sort,case_join_sort,is_circle,created_by,
        status,deleted,actions,actions_gift,description,
        create_time,update_time,delete_time
    </sql>
</mapper>
