<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.SaCaseMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.SaCasePO">
            <id property="id" column="id" />
            <result property="activityCode" column="activity_code" />
            <result property="targetCode" column="target_code" />
            <result property="targetDetailId" column="target_detail_id" />
            <result property="caseCode" column="case_code" />
            <result property="casePackageId" column="case_package_id" />
            <result property="caseType" column="case_type" />
            <result property="status" column="status" />
            <result property="exception" column="exception" />
            <result property="ignored" column="ignored" />
            <result property="manualBind" column="manual_bind" />
            <result property="isPreBind" column="is_pre_bind" />
            <result property="groupCode" column="group_code" />
            <result property="accountCode" column="account_code" />
            <result property="doctorCode" column="doctor_code" />
            <result property="patientCode" column="patient_code" />
            <result property="productCode" column="product_code" />
            <result property="gradientId" column="gradient_id" />
            <result property="createdBy" column="created_by" />
            <result property="deleted" column="deleted" />
            <result property="remark" column="remark" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
            <result property="price" column="price" />
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_code,target_code,target_detail_id,case_code,case_package_id,
        case_type,status,exception,ignored,manual_bind,
        is_pre_bind,group_code,account_code,doctor_code,patient_code,
        product_code,gradient_id,created_by,deleted,remark,
        create_time,update_time,delete_time,price
    </sql>
</mapper>
