<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.SaTargetMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.SaTargetPO">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="activityCode" column="activity_code" />
            <result property="startTime" column="start_time" />
            <result property="endTime" column="end_time" />
            <result property="tag" column="tag" />
            <result property="orderCode" column="order_code" />
            <result property="status" column="status" />
            <result property="caseNum" column="case_num" />
            <result property="exception" column="exception" />
            <result property="deleted" column="deleted" />
            <result property="createdBy" column="created_by" />
            <result property="description" column="description" />
            <result property="hash" column="hash" />
            <result property="expiredTime" column="expired_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
            <result property="createReason" column="create_reason" />
            <result property="src" column="src" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,activity_code,start_time,end_time,tag,
        order_code,status,case_num,exception,deleted,
        created_by,description,hash,expired_time,create_time,
        update_time,delete_time,create_reason,src
    </sql>
</mapper>
