<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.order.service.infrastructure.persistence.mapper.TaxDetailMapper">

    <resultMap id="BaseResultMap" type="com.xs.order.service.infrastructure.persistence.po.TaxDetailPO">
            <id property="id" column="id" />
            <result property="extendCode" column="extend_code" />
            <result property="type" column="type" />
            <result property="orderCode" column="order_code" />
            <result property="countryRate" column="country_rate" />
            <result property="stateRate" column="state_rate" />
            <result property="countyRate" column="county_rate" />
            <result property="cityRate" column="city_rate" />
            <result property="districtRate" column="district_rate" />
            <result property="manualRate" column="manual_rate" />
            <result property="combinedRate" column="combined_rate" />
            <result property="postalCode" column="postal_code" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="deleteTime" column="delete_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,extend_code,type,order_code,country_rate,state_rate,
        county_rate,city_rate,district_rate,manual_rate,combined_rate,
        postal_code,version,create_time,update_time,delete_time
    </sql>
</mapper>
